/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2016, 5:18:51 PM
    Author     : Binod
*/

.inline-disp{
    display: inline-block;
}
.no-padding-top{
    padding-top: 1px!important;
}

.textbox.inline {
    display: inline-block;
    margin-bottom: 0;
    padding-top: 5px;
    vertical-align: middle;
}
.textbox.inline + .textbox.inline{
    margin-left: 10px;
}

.width-35{
    width: 35%;
}
.width-16{
    width: 18%;
}
.width-9{
    width: 9%;
}
.width-45{
    width: 45%;
}
.width-46{
    width: 46%;
}
.width-20{
    width: 20%;
}
.size_container input {
  margin: 10px 0;
}
#bulk_form .thumbnail {
  max-width: 115px;
}
.btnmargin {
    margin-left: 15px;
}
.btnmargin-bottom {
    
}
.addonmargin {
  margin-left: 20px;
  margin-top: 5px;
}
.textaddonbottom {
    margin-bottom: 5px;
}
.addonmarginbottom {
    margin-bottom: 25px;
}
.margin-l{
    margin-left: 10px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.pad-margin{
    margin-bottom: 10px;
}
.width-19{
    width: 19%;
}
.pad-margin input, .pad-margin select {
  margin: 10px 0;
}
.pad-bottom{
    margin-bottom: 8px;
}
.multiselect{
    width: 100%;
}

.form-group > img{
    vertical-align: middle;
}

.actions-container span {
    margin-left: 10px;
    vertical-align: middle;
}
.mouseover-pointer{
    cursor: pointer;
}

.remove-margin{
    margin-top: 8px;
}

#venture_logo_img {
    max-height: 121px;
}

#loading{
    visibility:hidden;
    height: 31px;
    vertical-align: middle;
}

@media (max-width: 378px) and (min-width: 200px) {
    .textbox.inline + .textbox.inline{
        margin-left: 7px;
    }
    .textbox-s {
        margin-left: 7px;
    }
}

@media (max-width: 1200px) and (min-width: 500px) {
    .textbox.inline + .textbox.inline{
        margin-left: 3px;
    }
    .textbox-s {
        margin-left: 3px;
    }
}

.text-warning {
    background-color: #f2dede !important;
}